/**
 * Created by liubingwen on 2017/1/6.
 */
@import "./mix";
div#__vconsole{
    @include font-dpr(13px);
    .vc-switch{
        right: 1em;
        bottom: 1em;
        @include font-dpr(14px);
        padding: 0.6em 1.15em;
    }
    .vc-tabbar{
        @include font-dpr(20px);
        height: 2em;
        .vc-tab{
            @include font-dpr(14px);
            line-height: 2.85em;
            padding: 0 1.07em;
        }
        .vc-toptab{
            line-height: 1.5em;
            padding: 0 .75em;
        }
    }
    .vc-topbar{
        .vc-toptab{
            @include font-dpr(15px);
            line-height: 2em;
            padding: 0 1em;
        }
    }
    .vc-content{
        @include font-dpr(20px);
        top:2em;
        bottom: 2em;
        span{
            @include font-dpr(14px)
        }
        &.vc-has-topbar{
            top:3.55em;
        }
    }
    .vc-logbox{
        height: 100%;
        overflow: hidden;
        >div{
            height: 100%;
            overflow-y: auto;
        }
        .vc-item{
            @include font-dpr(20px);
            padding: .3em .4em;
            .vc-item-meta{
                @include font-dpr(20px);
                width: 3em;
            }
            .vc-item-content{
                @include font-dpr(20px);
                margin-right: 3em;
                *{
                    @include font-dpr(14px);
                }
                .vc-fold-inner{
                    padding-left: 10/14 +em;
                }
                .vc-fold-outer{
                    padding-left: 10/14 +em;
                    &::before{
                        top:4/14+em;
                        left: 2/14 +em;
                        border-width: 4/14+em;
                    }
                }
            }
        }
        .vc-table{
            .vc-table-col{
                @include font-dpr(14px);
                padding: .21em .28em;
            }
        }
        .vc-log{
            @include font-dpr(20px);
            padding-bottom: 2em!important;
            &:before{
                @include font-dpr(15px);
            }
        }
        .vc-cmd{
            background-color: white;
            @include font-dpr(20px);
            height: 2em;
            .vc-cmd-btn{
                @include font-dpr(14px);
                width: 2.86em;
            }
            .vc-cmd-input-wrap{
                height: 1.4em;
                margin-right: 2em;
                padding: .3em .4em;
            }
            .vc-cmd-input{
                @include font-dpr(12px)
            }
        }
    }
    .vc-toolbar{
        @include font-dpr(20px);
        line-height: 2em;
        a{
            @include font-dpr(14px);
        }
        .vc-tool{
            &:after{
                @include font-dpr(14px);
                top:.5em;
                bottom: .5em;
            }
        }
    }
}
