/**
 * Created by chenlin on 2018/2/8 0008.
 */
.carousel-container{
  position: relative;
  .carousel-wrapper{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    z-index: 100;
    .carousel-item{
      float: left;
      box-sizing: border-box;
      overflow: hidden;
      text-align: center;
    }
  }
  .carousel-dots{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 12px;
    text-align: center;
    z-index: 200;
    .dot{
      width:8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      background: #999;
      margin: 0 4px;
      &.active{
        background: #3b99fc;
      }
    }
  }
}
